*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-attachment: fixed;
  background-color: #ebd5d5;
  overflow-x: hidden;
}
div{
  background-color: rgba(212, 81, 20, 0.582);
  padding: 20px;
  width: 100%;
  height: 90px;
  text-align: right;
}
header .css{
  color: rgb(41, 41, 48);
  padding: 15px;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}